@font-face {
  font-family: 'noto sans display condensed bold italic';
  font-style: normal;
  font-weight: normal;
  src: local('noto sans display condensed bold italic'), url('fonts/noto-sans-display-condensed-bold-italic.woff') format('woff');
  }

@font-face {
  font-family: 'Cooper Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Cooper Std Black'), url('fonts/CooperBlack-Std.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Cooper Std Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Cooper Std Black Italic'), url('fonts/CooperBlack-StdItal.woff') format('woff');
  }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
